<div class="modal-container__wrapper">
  <div class="modal-container__item">
    <p class="modal-container__text">Переведите на русский язык:</p>
    <div class="modal-container__task">
      <p class="modal-container__word"></p>
      <div class = "modal-container__wraper--translation"></div>
      <label class="modal-container__label">
        <input class="modal-container__input  modal-container__input--translation" type="text">
      </label>
    </div>
    <button class="modal-container__btn  modal-container__btn--translation" type="submit">Готово</button>
    <p class="modal-container__result  modal-container__result--translation"></p>
  </div>
</div>
