.modal-container {
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}

.modal-container--hidden {
  display: none;
}

.modal-active {
  overflow: hidden;
}

.modal-container__wrapper {
  display: block;
  height: 100%;
  width: 100%;
}

.modal-container__item {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 30px 50px;
  top: 20%;
  background: #fff;
  box-sizing: border-box;
}

.modal-container__text {
  text-align: center;
  padding: 10px 0;
  font-size: 28px;
  line-height: 28px;
  font-weight: 600;
}

.modal-container__task {
  margin: 15px 0;
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
}

.modal-container__input {
  width: 250px;
  margin: 15px 0;
  padding: 10px;
  outline: 0;
  font-size: 20px;
  border: 1px solid #2194E0;
  background-color: #e2f0f8;
  box-sizing: border-box;
}

.modal-container__input--translation {
  width: auto;
}

.modal-container__input:hover {
  border-color: #000000;
}

.modal-container.modal-animation {
  display: block;
  transform: scale(1);
}

.modal-container.modal-animation .modal-container__wrapper {
  background: rgba(0, 0, 0, 0.8);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-container.modal-animation .modal-container__item {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  overflow: hidden;
  animation: bondJamesBond 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-container.modal-animation .modal-container__text {
  position: relative;
  opacity: 0;
  animation: modalContentFadeIn 0.5s 1.4s linear forwards;
}

.modal-container.modal-animation.out {
  animation: slowFade 0.5s 1.5s linear forwards;
}

.modal-container.modal-animation.out .modal-container__wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  animation: fadeToRed 2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-container.modal-animation.out .modal-container__item {
  border-radius: 3px;
  height: 162px;
  width: 227px;
  animation: killShot 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-container.modal-animation.out .modal-container__text {
  animation: modalContentFadeOut 0.5s 0.5 cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-container__btn {
  display: block;
  position: relative;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 15px 40px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  background-color: #fff;
  color: #2194E0;
  border: 2px solid #2194E0;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
}

.modal-container__btn:before {
  display: block;
  position: absolute;
  content: "";
  height: 100%;
  width: 3em;
  top: 0;
  left: -4.5em;
  background-color: rgba(255, 255, 255, 0.5);
  transform: skewX(-45deg) translateX(0);
  transition: none;
}

.modal-container__btn:hover {
  background-color: #2194E0;
  color: #fff;
  border-bottom: 4px solid #1977b5;
}

.modal-container__btn:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}

.modal-container__result {
  margin-bottom: 15px;
  text-align: center;
  font-size: 32px;
  color: red;
}

.modal-container__right-result {
  color: green;
}

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}

@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}

@keyframes bondJamesBond {
  0% {
    transform: translateX(1000px);
  }
  80% {
    transform: translateX(0px);
    border-radius: 150px;
    height: 150px;
    width: 150px;
  }
  90% {
    border-radius: 3px;
    height: 220px;
    width: 300px;
  }
  100% {
    border-radius: 3px;
    height: 440px;
    width: 640px;
  }
}

@keyframes killShot {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(300px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fadeToRed {
  0% {
    box-shadow: inset 0 0 0 rgba(201, 24, 24, 0.8);
  }
  100% {
    box-shadow: inset 0 2000px 0 rgba(201, 24, 24, 0.8);
  }
}

@keyframes slowFade {
  0% {
    opacity: 1;
  }
  99.9% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
