<div class="modal-container__wrapper">
  <div class="modal-container__item">
    <p class="modal-container__text">Прослушайте и переведите на русский язык:</p>
    <div class="modal-container__task">
      <button class="modal-container__btn-speak" type="submit">Слушать</button>
      <label class="modal-container__label">
        <input class="modal-container__input  modal-container__input--audition" type="text">
      </label>
    </div>
    <button class="modal-container__btn  modal-container__btn--audition" type="submit">Готово</button>
    <p class="modal-container__result  modal-container__result--audition"></p>
  </div>
</div>
