<div class="modal-container__wrapper">
  <div class="modal-container__item">
    <p class="modal-container__text">Решите задачу, и тогда вы сможете нанести
      урон противнику! Округление до целого числа.
    </p>
    <div class="modal-container__task">
      <span class="modal-container__num  modal-container__num--1">2</span>
      <span class="modal-container__sign  modal-container__sign--1">+</span>
      <span class="modal-container__num  modal-container__num--2">2</span>
      <span class="modal-container__sign  modal-container__sign--2">*</span>
      <span class="modal-container__num  modal-container__num--3">2</span> =
      <label class="modal-container__label">
        <input class="modal-container__input  modal-container__input--arithmetic" type="text">
      </label>
    </div>
    <button class="modal-container__btn  modal-container__btn--arithmetic" type="submit">Готово</button>
    <p class="modal-container__result"></p>
  </div>
</div>
