.download_game {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 50px 0 0;
  color: #fff;
  font-family: 'Press Start 2P', monospace;
  text-align: center;
  background: #000;
}

.download_game__button {
  text-decoration: none;
  color: #fff;
  width: 200px;
  height: 75px;
  background: #ffb300;
  border: 3px solid #fff;
  border-radius: 15px;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
  padding: 24px 0;
  font-size: 24px;
}

.download_game__button:hover {
  color: #ffc53d;
  background: #ff6700;
}

.download_game__title {
  color: orange;
}
