.page-header-game {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 320px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url("../../images/img/bg.png");
}

.page-header-game--hidden {
  display: none;
}

.page-header-game--disabled {
  opacity: 0.3;
}

.page-header-game__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 660px) {
  .page-header-game {
    max-width: 660px;
    min-height: 330px;
  }

  .page-header-game__wrapper {
    width: 660px;
  }
}

@media (min-width: 960px) {
  .page-header-game {
    max-width: 960px;
    height: 500px;
  }

  .page-header-game__wrapper {
    width: 960px;
  }
}
