.rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  font-family: monospace;
  width: 1000px;
  margin: 0 auto;
  padding: 50px 0 0;
  color: grey;
  text-align: center;
  background-color: #3a3a3a;
  background: url("../../images/img/Top_ud.jpg") 0 0 repeat-x,
              url("../../images/img/Top.jpg") 100% 100% repeat-x;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rules__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: url('../../images/img/background.jpg') 100% 100%;
  border: solid 2px lightgrey;
}

.page-header__title {
  color: #13ac13;
  margin: 20px;
}

 .rules__span {
  color: #13ac13;
  font-weight: 700;
}

.rules__page-button-play {
  display: block;
  width: 280px;
  text-align: center;
  padding: 17px 10px;
  text-transform: uppercase;
  line-height: 30px;
  border: none;
  border-radius: 10px;
  font-size: 22px;
  text-decoration: none;
  font-weight: 700;
  background-color: #2aab6d;
  color: #ffffff;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 10px;
}

.rules__page-button-play:hover {
  background-color: #1c9b5e;
}

.rules__page-button-play:active {
  color: #61b98f;
  outline: none;
}

.rules__iframe {
  margin: 10px;
  width: 640px;
  height: 480px;
  border: solid 2px #13ac13;
}

.rules__page-image-screenshot {
  margin: 10px;
  width: 450px;
  height: 275px;
  border: 2px #13ac13 solid;
}

@media (max-width: 660px) {
  .rules__iframe, .rules__page-image-screenshot {
    width: 320px;
    height: 240px;
  }
}
