.slogan {
  width: 100%;
  margin: 0 auto;
}

.slogan--hidden {
  display: none;
}

.slogan--disabled {
  opacity: 0.3;
}

.slogan__wrapper {
  width: 320px;
  margin: 0 auto;
  color: #45515e;
}

.slogan__text {
  margin: 0;
  text-align: center;
  padding: 40px 20px 20px;
  font-size: 32px;
  line-height: 30px;
}

@media (min-width: 660px) {
  .slogan__wrapper {
    width: 660px;
  }

  .slogan__text {
    padding: 40px 50px 20px;
  }
}

@media (min-width: 960px) {
  .slogan {
    max-width: 1200px;
  }

  .slogan__wrapper {
    width: 960px;
  }

  .slogan__text {
    padding: 50px 100px;
  }
}
